<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathsService" />
                
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="wsDualHttpBinding_IDuplexService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54168/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMathsService" contract="MyWCF.Contract.IMathsService"
                name="channelFactory" />
            <endpoint address="http://localhost:54168/DuplexService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding_IDuplexService"
                contract="MyWCF.Contract.IDuplexMEPService" name="wsDualBinding" />
            
        </client>
    </system.serviceModel>
</configuration>